/*styling the pictures and the description from home page*/
.gallery img{
    float: left;
    padding: 5px;
    position:static;
    width: 33.33%;
    height: auto;
}


.gallery :hover{
    border: 50%;
    border-color: black;
    opacity: 98%;
}

.gallery img :hover{
    background-color: black;;
}

div.desc {
    padding: 15px 100px 15px 25px;
    float:right;
    font-size: large;
    align-self: center;
    color: #ffffff;
    font-family: monospace;
    text-decoration: wavy;
    position: static;
}

div.gallery {
    margin: 100px 50px -160px 25px;
    float: left;
    padding: 1%;
    padding-bottom: 5%;
    width: 380px;
  }
  
div.gallery:hover {
    border: 0px solid black;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
    display: grid;
  }

/*Changing the properties of our body, headings and paragraphs */
body{
    background-image: url("images/1.jpeg");
    background-repeat:initial;
    background-position: right top;
    margin: auto;
}

h3{
    float: bottom;
    width: 425px 10px 50px 26px;
    padding: 10px;
    position: static;
    text-align: center;
    z-index: -1;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px 100px 500px;
    position: static;
    padding-top: 100px;
    padding-left: 60px;
    text-align: center;
    font-size: 25px;
    color: black;
    font-style: italic;
}

h4{
    font-family: Impact, fantasy;
    width: 5px 10px 50px 26px;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}

p{
    font-family: Helvetica, sans-serif;
    color:black;
    margin: 20px 25px 50px 55px;
    text-decoration-style: double;
}

/*Editing the top bar menu to fit the page for the index page*/
#menu{
    width:100%;
    height:60px;
    background-color:transparent;
    padding-top: 12px;
    position:static;
    margin: 25px 10px 25px 0px;
}

#menu a{
    color:#ffffff;
    font-family:cursive;
    font-size: 20px;
    text-decoration:none;
    font-weight: 800px;
    position: static;
    padding-left: 20px;
    padding-right: 20px;
    margin: 200px 5px 0px 45px;
}

#menu img{
    max-width: 6%;
    align-self:auto;
    position: static;
    margin: -35px 47px 25px 50px;
    float: right;
}

#menu a:hover{
     color: navy;
}

#menu .logo img{
    position: static;
    text-align: center;
    float: right;
}

/*Editing the top bar menu2 to fit the page for the about page*/
#menu2 {
    width:100%;
    height:60px;
    background-color: transparent;
    padding-top: 12px;
    position: static;
    margin: 25px 10px 25px 0px;
}

#menu2 a{
    color:#ffffff;
    font-family:cursive;
    font-size: 20px;
    text-decoration:none;
    font-weight: 800px;
    position: static;
    padding-left: 20px;
    padding-right: 20px;
    margin: 200px 5px 0px 45px;
}


#menu2 img{
    max-width: 6%;
    align-self:auto;
    position: static;
    margin: -35px 47px 25px 50px;
    float: right;
}

#menu2 a:hover{
    color: teal;
}

/*Editing the top bar menu3 to fit the page for the contact page*/
#menu3 {
    width:100%;
    height:60px;
    background-color: transparent;
    padding-top: 12px;
    position: static;
    margin: 25px 10px 25px 0px;
}

#menu3 a{
    color:#ffffff;
    font-family:cursive;
    font-size: 20px;
    text-decoration:none;
    font-weight: 800px;
    position: static;
    padding-left: 20px;
    padding-right: 20px;
    margin: 200px 5px 0px 45px;
}

#menu3 img{
    max-width: 6%;
    align-self:auto;
    position: static;
    margin: -35px 47px 25px 50px;
    float: right;
}

#menu3 a:hover{
    color: teal;
}

.center{
    position: static;
    align-self: center;
    max-width: 100%;
    margin: 50px 550px 50px 550px;
}


/*Placing the second picture in the about page in the center*/
.Cinematic{
    align-self: center;
    position: static;
    margin: 25px 500px 25px 500px;
}

.logo img{
    position: fixed;
    text-align: center;
}


